// MARGIN

.m0 {
	margin: 0
}
.m1 {
	margin: unit1
}
.m2 {
	margin: unit2
}
.m3 {
	margin: unit3
}
.m4 {
	margin: unit4
}
.m5 {
	margin: unit5
}
.m6 {
	margin: unit6
}
.m7 {
	margin: unit7
}
.m8 {
	margin: unit8
}
.m9 {
	margin: unit9
}
.m10 {
	margin: unit10
}
.m11 {
	margin: unit11
}
.m12 {
	margin: unit12
}
.m13 {
	margin: unit13
}
.m14 {
	margin: unit14
}
.m15 {
	margin: unit15
}

// MARGIN, DESKTOP ONLY

@media laptop {
  .d-m0 {
  	margin: 0
  }
  .d-m1 {
  	margin: unit1
  }
  .d-m2 {
  	margin: unit2
  }
  .d-m3 {
  	margin: unit3
  }
  .d-m4 {
  	margin: unit4
  }
  .d-m5 {
  	margin: unit5
  }
  .d-m6 {
  	margin: unit6
  }
  .d-m7 {
  	margin: unit7
  }
  .d-m8 {
  	margin: unit8
  }
  .d-m9 {
  	margin: unit9
  }
  .d-m10 {
  	margin: unit10
  }
  .d-m11 {
  	margin: unit11
  }
  .d-m12 {
  	margin: unit12
  }
  .d-m13 {
  	margin: unit13
  }
  .d-m14 {
  	margin: unit14
  }
  .d-m15 {
  	margin: unit15
  }
}

// MARGIN TOP

.mt0 {
	margin-top: 0
}
.mt1 {
	margin-top: unit1
}
.mt2 {
	margin-top: unit2
}
.mt3 {
	margin-top: unit3
}
.mt4 {
	margin-top: unit4
}
.mt5 {
	margin-top: unit5
}
.mt6 {
	margin-top: unit6
}
.mt7 {
	margin-top: unit7
}
.mt8 {
	margin-top: unit8
}
.mt9 {
	margin-top: unit9
}
.mt10 {
	margin-top: unit10
}

@media laptop {
  .d-mt0 {
    margin-top: 0
  }
  .d-mt1 {
    margin-top: unit1
  }
  .d-mt2 {
    margin-top: unit2
  }
  .d-mt3 {
    margin-top: unit3
  }
  .d-mt4 {
    margin-top: unit4
  }
  .d-mt5 {
    margin-top: unit5
  }
  .d-mt6 {
    margin-top: unit6
  }
  .d-mt7 {
    margin-top: unit7
  }
  .d-mt8 {
    margin-top: unit8
  }
  .d-mt9 {
    margin-top: unit9
  }
  .d-mt10 {
    margin-top: unit10
  }
}

// MARGIN RIGHT

.mr0 {
	margin-right: 0
}
.mr1 {
	margin-right: unit1
}
.mr2 {
	margin-right: unit2
}
.mr3 {
	margin-right: unit3
}
.mr4 {
	margin-right: unit4
}
.mr5 {
	margin-right: unit5
}
.mr6 {
	margin-right: unit6
}
.mr7 {
	margin-right: unit7
}
.mr8 {
	margin-right: unit8
}
.mr9 {
	margin-right: unit9
}
.mr10 {
	margin-right: unit10
}
.mr11 {
	margin-right: unit11
}
.mr12 {
	margin-right: unit12
}
.mr13 {
	margin-right: unit13
}
.mr14 {
	margin-right: unit14
}
.mr15 {
	margin-right: unit15
}

// MARGIN RIGHT, DESKTOP ONLY

@media laptop {
  .d-mr0 {
    margin-right: 0
  }
  .d-mr1 {
    margin-right: unit1
  }
  .d-mr2 {
    margin-right: unit2
  }
  .d-mr3 {
    margin-right: unit3
  }
  .d-mr4 {
    margin-right: unit4
  }
  .d-mr5 {
    margin-right: unit5
  }
  .d-mr6 {
    margin-right: unit6
  }
  .d-mr7 {
    margin-right: unit7
  }
  .d-mr8 {
    margin-right: unit8
  }
  .d-mr9 {
    margin-right: unit9
  }
  .d-mr10 {
    margin-right: unit10
  }
  .d-mr11 {
    margin-right: unit11
  }
  .d-mr12 {
    margin-right: unit12
  }
  .d-mr13 {
    margin-right: unit13
  }
  .d-mr14 {
    margin-right: unit14
  }
  .d-mr15 {
    margin-right: unit15
  }
}

// MARGIN BOTTOM

.mb0 {
	margin-bottom: 0
}
.mb1 {
	margin-bottom: unit1
}
.mb2 {
	margin-bottom: unit2
}
.mb3 {
	margin-bottom: unit3
}
.mb4 {
	margin-bottom: unit4
}
.mb5 {
	margin-bottom: unit5
}
.mb6 {
	margin-bottom: unit6
}
.mb7 {
	margin-bottom: unit7
}
.mb8 {
	margin-bottom: unit8
}
.mb9 {
	margin-bottom: unit9
}
.mb10 {
	margin-bottom: unit10
}
.mb11 {
	margin-bottom: unit11
}
.mb12 {
	margin-bottom: unit12
}
.mb13 {
	margin-bottom: unit13
}
.mb14 {
	margin-bottom: unit14
}
.mb15 {
	margin-bottom: unit15
}

// MARGIN BOTTON, DESKTOP ONLY

@media laptop {
  .d-mb0 {
    margin-bottom: 0
  }
  .d-mb1 {
    margin-bottom: unit1
  }
  .d-mb2 {
    margin-bottom: unit2
  }
  .d-mb3 {
    margin-bottom: unit3
  }
  .d-mb4 {
    margin-bottom: unit4
  }
  .d-mb5 {
    margin-bottom: unit5
  }
  .d-mb6 {
    margin-bottom: unit6
  }
  .d-mb7 {
    margin-bottom: unit7
  }
  .d-mb8 {
    margin-bottom: unit8
  }
  .d-mb9 {
    margin-bottom: unit9
  }
  .d-mb10 {
    margin-bottom: unit10
  }
  .d-mb11 {
    margin-bottom: unit11
  }
  .d-mb12 {
    margin-bottom: unit12
  }
  .d-mb13 {
    margin-bottom: unit13
  }
  .d-mb14 {
    margin-bottom: unit14
  }
  .d-mb15 {
    margin-bottom: unit15
  }
}

// MARGIN LEFT

.ml0 {
	margin-left: 0
}
.ml1 {
	margin-left: unit1
}
.ml2 {
	margin-left: unit2
}
.ml3 {
	margin-left: unit3
}
.ml4 {
	margin-left: unit4
}
.ml5 {
	margin-left: unit5
}
.ml6 {
	margin-left: unit6
}
.ml7 {
	margin-left: unit7
}
.ml8 {
	margin-left: unit8
}
.ml9 {
	margin-left: unit9
}
.ml10 {
	margin-left: unit10
}
.ml11 {
	margin-left: unit11
}
.ml12 {
	margin-left: unit12
}
.ml13 {
	margin-left: unit13
}
.ml14 {
	margin-left: unit14
}
.ml15 {
	margin-left: unit15
}

// MARGIN LEFT, DESKTOP ONLY

@media laptop {
  .d-ml0 {
    margin-left: 0
  }
  .d-ml1 {
    margin-left: unit1
  }
  .d-ml2 {
    margin-left: unit2
  }
  .d-ml3 {
    margin-left: unit3
  }
  .d-ml4 {
    margin-left: unit4
  }
  .d-ml5 {
    margin-left: unit5
  }
  .d-ml6 {
    margin-left: unit6
  }
  .d-ml7 {
    margin-left: unit7
  }
  .d-ml8 {
    margin-left: unit8
  }
  .d-ml9 {
    margin-left: unit9
  }
  .d-ml10 {
    margin-left: unit10
  }
  .d-ml11 {
    margin-left: unit11
  }
  .d-ml12 {
    margin-left: unit12
  }
  .d-ml13 {
    margin-left: unit13
  }
  .d-ml14 {
    margin-left: unit14
  }
  .d-ml15 {
    margin-left: unit15
  }
}