// TYPE

typeface-primary= "LibreFranklinRoman-Medium", Arial, sans-serif
typeface-secondary= "Nothing"

// COLORS

color-blue= #001B82
color-white= #ffffff
color-background= rgba(252, 251, 250, 1)
color-background-trans= rgba(252, 251, 250, 0)
color-text= #FFF
color-brown= #a36b50
color-darkbrown= #201D1B
color-darkgrey= #404041
color-black= #000
color-creme= #F8F5F0
color-gold= #4B5320
color-brand-dark= #000000
color-brand-light= #FCFBFA
color-negative= #F79494
color-tock-blue= rgb(27, 27, 163)

// BREAKPOINTS (matches flexboxgrid)

phone=	"(min-width: 30em)"
tablet=	"(min-width: 48em)"
laptop=	"(min-width: 62em)"
desktop=	"(min-width: 75em)"
bigscreen=	"(min-width: 100em)"

// SPACING UNITS

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=		96px
unit13=		104px
unit14=		112px
unit15=		120px
